@import "../../styles/index.scss";

.login {
  .login__form {
    margin: 28px 0;
    .login-input {
      width: 90%;
      margin: 12px auto;
    }
    .login-button {
      margin-top: 12px;
    }
  }

  &__header {
    .sub-header {
      font-size: 18px;
      font-weight: 400;
      margin: 8px 0;
    }
  }
}
