@import '../../styles/index.scss';
.chat-room__header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $gray-secondary;
    padding-bottom: 18px;
    .back-button {
        font-size: 18px;
        color: $gray;
    }
    .online-status {
        color: $green;
        font-size: 16px;
    }
}