@import "../../styles/index.scss";

.login {
  background-color: $primary-color;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  .login__form {
    margin: 28px 0;
    .login-input {
      width: 90%;
      margin: 12px auto;
    }
    .login-button {
      margin-top: 12px;
    }
  }

  &__header {
    .sub-header {
      font-size: 18px;
      font-weight: 400;
      margin: 8px 0;
    }
  }
}
