$primary-color: #172fa0;
$primary-color-opacity: rgba(23, 48, 160, 0.5);
$white: white;
$dark: black;
$gray: #5f6368;
$gray-secondary: #F2F2F2;
$green: #1DC7AC;

$default-radius-pixel: 4px;
$default-padding: 14px;
$container-border-radius: 14px;